{
  "extends": "airbnb",
  "parser": "@babel/eslint-parser",
  "env": {
    "browser": true,
    "node": true,
    "jest": true
  },
  "plugins": ["react", "import", "react-hooks"],
  "ignorePatterns": ["node_modules", "dist"],
  "rules": {
    "arrow-body-style": 0,
    "react/jsx-filename-extension": 0,
    "no-console": 0,
    "jsx-a11y/click-events-have-key-events": 0,
    "jsx-a11y/no-static-element-interactions": 0,
    "import/prefer-default-export": 0,
    "react/jsx-no-useless-fragment": 0,
    "react/no-array-index-key": 0,
    "prefer-template": 0,
    "no-unused-expressions": 0,
    "react/require-default-props": 0,
    "jsx-a11y/no-noninteractive-element-interactions": 0,
    "no-else-return": 0,
    "react/jsx-one-expression-per-line": 0,
    "react/jsx-no-constructed-context-values": 0,
    "react/function-component-definition": [
      2,
      {
        "namedComponents": ["arrow-function", "function-declaration"],
        "unnamedComponents": "arrow-function"
      }
    ]
  }
}